@charset "utf-8";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,header,hgroup,
nav,section,article,aside,footer,figure,figcaption,menu {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
html,
body {
  background: #fff;
  width: 100%;
  -webkit-overflow-scrolling: touch;//允许独立的滚动区域和触摸回弹
}
body {
  font-family: "Noto SansCJK", Roboto, "Droid Sans", "Droid Sans Fallback", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 24px;
  font-size: 14px;
  color: #000;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  display: block;
  border: 0;
}
li {
  list-style: none;
}
input,textarea,select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
a,input {
  text-decoration: none;
  color: #1D82FF;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header,nav,section,article,footer,figure,figcaption {
  display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}
.hidden {
  display: none !important;
}
.overhide{
    overflow: hidden;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.one-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.two-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.thr-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.row {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.f-center {
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.f-between {
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.f-around {
    -webkit-box-pack: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.f-align {
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

